
<nav class="navbar navbar-default" >
  <div class="container-fluid">

<div class="navbar-header" style="margin:5px 5px">
	<h6><a href = "/timeline">TIMELINE</a></h6>
</div>
        
<div class="navbar-header" style="margin:5px 5px">
	<h6><a href = "/mantra">LIFE MANTRA</a></h6>
</div>  

<div class="navbar-header" style="margin:5px 5px">
	<h6><a href = "/goals">LIFE GOALS</a></h6>
</div>  

<div class="navbar-header" style="margin:5px 5px">
	<h6><a href = "/skills">SKILLS</a></h6>
</div>  

<div class="navbar-header" style="margin:5px 5px">
	<h6><a href = "/projects">PROJECTS</a></h6>
</div>  

<div class="navbar-header" style="margin:5px 5px">
	<h6><a href = "/wink">WHY WINK</a></h6>
</div>  

<div class="navbar-header" style="margin:5px 5px">
	<h6><a href = "/interests">OTHER INTERESTS</a></h6> 
</div>  

<div class="navbar-header" style="margin:5px 5px">
	<h6><a href = "/thank">THANK YOU</a></h6>
</div>  