<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

		<div class="navbar-header" style="margin:5px 5px">
			<h4><a href = "/timeline">TIMELINE</a></h4>
		</div>
		        
		<div class="navbar-header" style="margin:5px 5px">
			<h4><a href = "/mantra">LIFE MANTRA</a></h4>
		</div>  

		<div class="navbar-header" style="margin:5px 5px">
			<h4><a href = "/goals">LIFE GOALS</a></h4>
		</div>  

		<div class="navbar-header" style="margin:5px 5px">
			<h4><a href = "/skills">SKILLS</a></h4>
		</div>  

		<div class="navbar-header" style="margin:5px 5px">
			<h4><a href = "/projects">PROJECTS</a></h4>
		</div>  

		<div class="navbar-header" style="margin:5px 5px">
			<h4><a href = "/wink">WHY WINK</a></h4>
		</div>  

		<div class="navbar-header" style="margin:5px 5px">
			<h4><a href = "/interests">OTHER INTERESTS</a></h4> 
		</div>  

		<div class="navbar-header" style="margin:5px 5px">
			<h4><a href = "/thank">THANK YOU</a></h4>
		</div>		    
  </div>
</nav>